<input id="meu-input" 
[value]="inputText" 
[type]="inputType" 
[disabled]="isDisabled"
(keyup)="handleInputKeyup($event)"
(input)="handleInputEvent($event)"/>
<br/>
<button (click)="enableInput()">Habilitar Input</button>
<button (click)="disableInput()">Desabilitar Input</button>
<br/>
<button (click)="setPasswordInput()">Habilitar senha</button>
<button (click)="setTextInput()">Habilitar texto</button>
<br/>
<button (click)="logInputText()">Log</button>

<!--colchetes é para enviar um atributo, parênteses é para ouvir um evento-->